<ion-header>
    <ion-toolbar>
        <ion-title> Usuario </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Followers</ion-label>
            <ion-badge color="primary">#???</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Likes</ion-label>
            <ion-badge color="secondary">#???</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Stars</ion-label>
            <ion-badge color="tertiary">#???</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Completed</ion-label>
            <ion-badge color="success">#???</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Warnings</ion-label>
            <ion-badge color="warning">#???</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Notifications</ion-label>
            <ion-badge color="danger">#???</ion-badge>
        </ion-item>
    </ion-list>

    <ion-footer>
        <ion-tab-button [routerLink]="['/Inicio']">
            <ion-label>Inicio</ion-label>
            <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

    </ion-footer>

</ion-content>
