<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-label>Inicio</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
  

    <ion-tab-button tab="quests">
      <ion-label>Misiones</ion-label>
      <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>
  

    <ion-tab-button tab="play">
      <ion-label>Play</ion-label>
      <ion-icon name="play-outline"></ion-icon>
    </ion-tab-button>
  

    <ion-tab-button tab="batalla">
      <ion-label>Batalla</ion-label>
      <ion-icon name="shield-outline"></ion-icon>
    </ion-tab-button>
  

    <ion-tab-button tab="personaje">
      <ion-label>Personaje</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>