<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-label>Principal</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
  

    <ion-tab-button tab="explorar">
      <ion-label>Explorar</ion-label>
      <ion-icon name="compass-outline"></ion-icon>
    </ion-tab-button>
  

    <ion-tab-button tab="crear">
      <ion-label>Crear</ion-label>
      <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>
  

    <ion-tab-button tab="chat">
      <ion-label>Chat</ion-label>
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-tab-button>
  

    <ion-tab-button tab="mensajes">
      <ion-label>Mensajes</ion-label>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>