<ion-menu contentId="main-content">
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-searchbar></ion-searchbar>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-avatar>
            <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png" />
          </ion-avatar>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Tap the button in the toolbar to open the menu.
  </ion-content>
</div>
