<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-searchbar></ion-searchbar>
        <ion-buttons slot="primary">
            <ion-button [routerLink]="['/usuario']">
                <ion-avatar>
                    <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png" />
                </ion-avatar>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png" />
            </ion-avatar>
            <ion-label>
                <h4>USUARIO</h4>
                <h5>NOMBRE</h5>
            </ion-label>
        </ion-item>
        <ion-card-header>
            <ion-card-title>TITULO 3</ion-card-title>
        </ion-card-header>
        <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" width="100%" />

    </ion-card>

    <ion-card>

        <ion-button [routerLink]="['/mensajes']">Mensajes</ion-button>

    </ion-card>

</ion-content>

<ion-footer>
    <ion-title>Más de nosotros</ion-title>
    <ion-label>
        <h1>Primero</h1>
        <p>te la creiste</p>
        <h2>

        </h2>
        <h3>

        </h3>
    </ion-label>
</ion-footer>